
:root {
  --font-sans: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --font-nanum: NanumPenScript-Regular;
  --font-heavy: BowlbyOne-Regular;
}

.App {
  background-color: #111219;
  height: 100vh;
  color: white
}

.nav {
  background-color: #111219 !important;
 
  font-family: var(--font-mono);
  font-size: 14px;
  font-weight: 600;
  
 
}

.nav_link:before, .navbrand:before {
  content: '';
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent 0%, #111219 5%, #111219 100%);
 
}
.navbrand:before {
  animation: animate 1s ease forwards;
}
.nav_link:first-of-type::before {
  animation: animate .5s ease forwards;
  animation-delay: .8s;
}

.nav_link:nth-of-type(2)::before {
  animation: animate .5s ease forwards;
  animation-delay: 1.1s
}

h1 {
  font-family: var(--font-heavy);
}
@keyframes animate {
  0% {
    top: -20%;
    opacity: 1;
  }
  100%{
    top: 100%;
    opacity: 0;
  }
}
.navbar {
  padding: 1rem 3rem !important;
}

.navbrand {
  color: #F86271 !important;
  font-size: 48px !important;
  /* font-family: var(--font-sans); */
  font-family: NanumPenScript-Regular, cursive;
  font-weight: bold;
}





 